* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'lucida', sans-serif;
  scroll-behavior: smooth;
}

.containerf1 {
  max-width: 90%;
  margin: auto;
}

.containerf3 {
  max-width: 85%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

/*------------hotel and homestay------------*/
.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading7 {
  text-align: center;
}

.heading7 h5 {
  font-weight: 400;
  letter-spacing: 5px;
  color: #173dd6;
  padding-top: 20px;
}

.heading7 h2 {
  color: #ef7515;
  font-size: 45px;
  font-family: 'Lucida Sans','Lucida Grande';
  font-weight: bold;
  margin: 10px 0 20px 0;
}
 h11 {
  color: #ef7515;
  text-align: center;
  font-size: 25px;
  font-family: 'Lucida Sans','Lucida Grande';
  font-weight: bold;
  margin: 0;
}

.left, .right {
  width: 50%;
}

h3 {  
  font-size: 21px;
  font-family: 'Lucida Sans','Lucida Grande';
  color: #173dd6;
  margin-bottom: 20px;
}

.about .left {
  padding: 20px;
}

p7 {
  line-height: 35px;
  color: #5d5a5a;
  margin-bottom: 20px;
  font-size: 17px;
}


.about {
  position: relative;
  padding-bottom: 70px;
}

.about .right {
  position: relative;
}

.about .right::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #CC8C18;
  width: 92%;
  height: 61vh;
  z-index: -1;
  margin: 50px;
}

/*------------hotel------------*/
/*------------acc------------*/
.wrapper2 {
  position: relative;
  text-align: center;
}

.wrapper2 .grid {
  grid-template-columns: repeat(4, 1fr);
}

.wrapper2 .box {
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
  padding: 20px;
  transition: 0.5s;
}

.wrapper2 i {
  margin: 10px 0 15px 0;
  color: #ef7515;
  font-size: 30px;
}

.wrapper2 h3 {
  font-size: 20px;
}

.wrapper2 span {
  padding: 10px;
  background: #F5E8D1;
  color: #ef7515;
  border-radius: 50%;
}

.wrapper2 .box:hover {
  background: #ef7515;
  cursor: pointer;
}

.wrapper2 .box:hover span {
  background: #fff;
}

.wrapper2 .box:hover p,
.wrapper2 .box:hover h3,
.wrapper2 .box:hover i {
  color: white;
}

.room {
  margin-bottom: 50px;
  position: relative;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.room img {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.room h3 {
  margin: 0;
  padding: 0;
}

/*------------acc------------*/
.offer img {
  width: 100%;
  height: 100%;
}

.offer .right {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.offer .content h4 {
  font-size: 20px;
  color: #627795;
  font-family: 'Lucida Sans','Lucida Grande';
}

.offer .rate i {
  font-size: 13px;
  color: #ef7515;
  margin: 10px 10px 20px 0;
}

.offer .content h5 {
  color: #627795;
  margin-bottom: 10px;
}

.offer .box {
  transition: 0.5s;
}

.offer .box:hover {
  transform: translateY(-10px);
}

/*------------hotel------------*/
/*--------------comment--------*/

.wrapper7 {
  background-image: url("https://static.nationalgeographic.co.uk/files/styles/image_3200/public/pc_sarawak_gettyimages-161831107_hr_ca_web.jpg?w=1600&h=900");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper7 .text7 {
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: black;
}

.wrapper7 .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper7 h27 {
  font-weight: 400;
}

.wrapper7 p7 {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper7 i {
  margin: 5px 20px 0 0;
}

.containerf8 {
  max-width: 80%;
  margin: auto;
}

.heading h57 {
  font-weight: 400;
  letter-spacing: 5px;
  color: #173dd6;
  padding-top: 20px;
}


.wrapper7 .text7 {
  left: 10%;
}

.wrapper7 h57,
.wrapper7 h27 {
  color: white;
}

.wrapper7 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper7 .para h57 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper7 .para {
  margin-left: 10%;
}

/*--------------comment--------*/





/*------------Galleryf------------*/

.imageGrid {
  line-height: 0;
}
.imageGrid .tile {
  width:33.33%;
  min-height:20em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  
  color:#fff;
  font-family:"Verdana",sans-serif;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer; 
  cursor: hand;
}

.imageGrid .tile:before {
  content: '';
  background-color: rgba(15,15,15,0.5);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.imageGrid .tile:hover:before {
  display: none;
}

.imageGrid .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
}

.imageGrid .tile .textWrapper .content {
  display: none;
}

.imageGrid .tile:hover .textWrapper .content {
  display: block;
}

.imageGrid .tile:hover .textWrapper .content h2 {
  margin: 0;
}

@media (max-width: 1000px) {
  .imageGrid .tile {
    width: 50%;
  }
}
 
@media (max-width: 700px) {
  .imageGrid .tile {
    width: 100%;
  }
  
}
/*------------Galleryf------------*/


/*--------------nearest--------*/

.gridywrap div[class*=gridy] {
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
  padding: 15px; float: left;
  position: relative;
}
.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {width: 320px;
  overflow: hidden;}

.gridywrap .gridy-1 {width: 100%;}
.gridywrap .gridy-2 {width: 100%;}
.gridywrap .gridy-3 {width: 100%;}

.gridywrap .gridyhe-1 {height: 320px;}
.gridywrap .gridyhe-2 {height: 320px;}


@media screen and (min-width: 640px) {
  .gridywrap .gridyhe-2 {height: 320px;}
  .gridywrap {
    width: 100%;
  }
  .gridywrap .gridy-1 {width: 50%;}
  .gridywrap .gridy-2 {width: 50%;}
  .gridywrap .gridy-3 {width: 100%;}
}
@media screen and (min-width: 1024px) {
  .gridywrap .gridy-1 {width: 33.3%;}
  .gridywrap .gridy-2 {width: 66.6%;}
  .gridywrap .gridy-3 {width: 100%;}
  .gridywrap .gridyhe-2 {height: 640px;}
}

/*styling*/
.gridywrap .gridimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
.gridywrap .gridimg img {
  width: 100%;
}
.gridywrap .gridinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  text-align: center;
  transition: all 0.8s;
}
.gridywrap .gridinfo h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 130px 0 20px;
  position: relative;
}
.gridywrap .gridinfo h3:after {
  content: '';
  width: 25px;
  border-top: 4px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.gridywrap .gridinfo .gridmeta {
  transition-delay: 0.25s;
}
.gridywrap .gridinfo .gridmeta p {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px;
}
.gridywrap .gridinfo .gridmeta p i {
  margin-right: 5px;
}
.gridywrap .gridinfo .gridmeta p.gridwho {
  margin-left: 25px;
}
.gridywrap .gridinfo p.gridexerpt {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 25px;
  color: #fff;
  transition-delay: 0.5s;
}

.gridywrap .gridinfo * {
  opacity: 0;
  transition: all 0.8s;
}
.gridywrap .gridinfo h3 {
  opacity: 1;
}
.gridywrap .gridinfo .grid-btn {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25px;
  border: 1px solid #fff; 
  display: block;
  overflow: hidden;
}
.gridywrap .gridinfo .grid-btn:hover {
  width: 75px;
  background: rgba(0,0,0,0.3);
}
.gridywrap .gridinfo .grid-btn span {
  opacity: 0;
  display: none;
  transition: opacity 0.8s;
}
.gridywrap .gridinfo .grid-btn:hover span {
  opacity: 1;
  display: inline;
}
.gridywrap .gridinfo .grid-btn:hover i {
  opacity: 0;
  display: none;
}

.gridywrap .gridinfo:hover * {
  opacity: 0.7;
}
.gridywrap .gridinfo:hover p {
  opacity: 1;
}
.gridywrap .gridinfo:hover {
  background: rgba(190, 102, 30, 0.7);
}
.gridywrap .gridinfo:hover h3 {
  margin-top: 70px;
  opacity: 1;
}

.intro {
  text-align: center;
  padding: 25px;
  background: rgb(245, 245, 245);
  color: #ddd;
}
h1 {
  font-size: 48px;
  font-weight: 300;
  padding: 15px 0;
}
.intro p {
  opacity: 0.5;
  font-size: 14px;
}
.intro p a {
  color: #111b64;
}
/*--------------nearest--------*/

/*--------------footer--------*/
footer{
	position: relative;
	width: 100%;
	height: 300px;
	background: #ef7515;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 25px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #111b64;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:black;
	bottom: 35px;
	font-size: 16px; 
}
